
.open-sans-uniquifier {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}

.dm-serif display-regular {
    font-family: "DM Serif Display", serif;
    font-weight: 400;
    font-style: normal;
}
  
.dm-serif display-regular-italic {
    font-family: "DM Serif Display", serif;
    font-weight: 400;
    font-style: italic;
}
  
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}
body{
     background: rgba(31, 31, 31, 0.277);
     display: flex;
     justify-content: center;
     align-items: center;
     padding-top: 50px;
     font-family: "DM Serif Display", serif;
}
.mainc{
    width: 1160px;
    height: 528px;
    display: flex;
    gap: 40px;
    
}   
.card{
    width: 360px;
    height: 528px;
    background-color: white;
    border-radius: 16px;
}
.photo{
    width: 360px;
    height: 216px;
    border-radius: 10px;
}
.info{
    width: 32px;
    height: 32px;
    position: relative;
    top: -200px;
    left: 305px;
}
.product{
    display: flex;
    justify-content: space-between;
    font-family: "Open Sans", sans-serif;
}
.warwera{
    margin-left: 24px;
    margin-right: 24px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 24px;
}

h1{
    font-size: 24px;
    font-weight: 400px;
    line-height: 25px;
    letter-spacing: 1%;

}
.icons{
    display: flex;
    gap: 8px;
}

span{
    color: rgba(110, 121, 140, 1);
    font-family: Open Sans;
    font-size: 16px;
    line-height: 25px;
    letter-spacing: 0em;
}

.calinfo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    p {
        font-size: 16px;
        line-height: 25px;
        color: rgba(165, 173, 187, 1);
        ;
      }
}

.price{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 300px;
  gap: 10px;
   h2{
    font-family:dm-serif ;
    font-size: 28px;
    line-height: 25px;
    letter-spacing: 0em;
    
   }
   h3{
    font-family: DM Serif Display;
    font-size: 20px;
    line-height: 25px;
    letter-spacing: 0em;
    padding-right: 30px;
    color: rgba(248, 89, 59, 1);
   }
   button{
    width: 114px;
    height: 44px;
    background-color: rgba(46, 204, 113, 1);
    border-radius: 4px;
    font-family: Open Sans;
    font-size: 14px;
    font-weight: 700;
    line-height: 25px;
    letter-spacing: 0.18em;
    text-align: center;
    color: rgba(255, 255, 255, 1);
    border:none;
   }
}

@media (max-width:800px) {
    }
    .mainc{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        row-gap: 30px;
        height: 100svh;
    }
   
  